* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: sans-serif;
}
:root {
  --p-col: hsl(238, 40%, 52%);;
}
.flex {
  display: flex;
}
.pointer {
  cursor: pointer;
}
.atc {
  align-items: center;
}
.jcSb {
  justify-content: space-between;
}
.bold-lg {
  font-weight: 700
}
.bold-md {
  font-weight: 500
}
.comment-container {
  background-color: white;
  border-radius: 9px;
  margin-block: 10px;
  padding: 20px 5%;
  /* box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.5); */
}
.like-post,
.unlike-post,
.num-of-likes {
  cursor: pointer;

padding-left: 10px;

padding-right: 10px;
background-color: hsl(223, 19%, 93%);
  font-size: 18px;
  font-weight: 700;
  
}
.like-post {
  padding-block: 5px;
  border-radius: 7px 7px 0px 0px;
}
.unlike-post {
  padding-bottom: 5px;
  border-radius: 0px 0px 7px 7px; 

}
.num-of-likes { 
  padding-block: 5px;
  color:  hsl(212, 24%, 26%);
  font-weight: 700;


}
.like-icon {
  width: 15px;
}
.main-cont {
  background-color: hsl(223, 19%, 93%);
  width: 100%;
  height: 200%;
  padding-block: 79px;
}


.data-container {
 width: 48vw;
  margin: 20px auto;
  height: 100%;
}
.post-section1-cont1 {
  width: 100%;
}
.post-section, .post-section1 {
  width: 100%;
  resize: none;
  padding: 10px 20px;
  border-radius: 9px;
  outline: none;
  height: 100px;

  font-size: 16px;
}
.post-section-container {
  background-color: white;
  padding: 20px 5%;
  border-radius: 10px;
  width: 100%;
}
.main-post-section {
  gap: 30px;
  color: hsl(211, 10%, 45%)
}
.ur-username {
  color: hsl(211, 10%, 45%)
}
.text {
  color: hsl(211, 10%, 45%);
  font-size: 16px;
}
.hidden-reply-section {
  background-color: white;
  display: flex;
  gap: 20px;
  padding: 10px 15px;
  border-radius: 10px;
}
.reply-btn {
  background-color: var(--p-col);
  padding: 9px 18px;
  border-radius: 7px;
  text-transform: uppercase;
  cursor: pointer;
font-size: 15px;
  color: white;
  font-weight: 700;
  border: none;
}

.user-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  left: 10px;
  
}
.userdp {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: top;

}
.replied-section {
  background-color: white;
  margin-block: 10px;
  padding:10px 20px;
  gap: 15px;
  margin-left: auto;
  width: 95%;
border-radius: 10px;
}
.bd-left {
  border-left: 1px solid  hsl(211, 10%, 45%);
  margin-left: auto;
  width: 92%
}
.username {
  color: var(--p-col);
  margin-right: px;
}
.delete-cont {
  color:  hsl(358, 79%, 66%);
  cursor: pointer;
  gap: 4px;
}
.edit-btns{
  gap: 15px;
}

.edit-cont {
  cursor: pointer;
  gap: 4px;
  color: var(--p-col);
}
.you-reply {
  color: white;
  background-color: var(--p-col);
  padding: 3px 4px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
.replied-paragraph {
  margin-block: 25px;
  line-height: 1.3;
  width: 100%;
}
.main-reply-section {
  width: 100%;
}

.user-info-cont {
  gap: 15px;
}
.reply-section {
  color: var(--p-col);
  gap: 5px;
}
.confirm-delete-container {
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
display: flex;
align-items: center;
justify-content: center;
}
.delete-container {
  width: 320px;
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.delete-container  h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: hsl(211, 10%, 45%);
}
.delete-container p {
  color: hsl(211, 10%, 45%);
  font-weight: 500;
  line-height: 1.2;
  margin-block: 18px;
}
.delete-container button {
  padding: 9px 25px;
  border-radius: 7px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  color: white;
  font-weight: 700;
  border: none;
}
.cancel-btn {
  background-color: hsl(211, 10%, 45%);
}
.delete-btn {
  background-color: hsl(358, 79%, 66%);
}
.all-likes-container1 {
  display: none;
}

@media (max-width: 800px) {
  
.data-container {
  width: 70vw;
}
}
@media (max-width: 540px) {
  .data-container {
    width: 90vw;
  }

.main-post-section {
  display: block;
}
.user-info-main-cont {
display: block;
}
.bd-left {
  width: 100%;
}
.replied-section {
  width: 96%;
  padding: 20px 5%;
position: relative;
  gap: 0px;
}
.delete-container {
width: 92%
}
.edit-btns {
position: absolute;
bottom: 15px;
right: 15px;

}

.reply-section {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.comment-container {
  position: relative;
}
.all-likes-container {
display: none;

}
.replied-paragraph{
  margin-bottom: 25px;
}
}


